%h1 Domains
- if can? :create, Domain
  = link_to_create new_admin_domain_path
%hr

%p
  Got
  = pluralize collection.size, 'domain'

%table.table.table-striped
  %thead
    %th Name
    %th Mailboxes
    %th Aliases
    %th Catch-All
    %th
  %tbody
    = render collection
