%h1 Domains
= link_to_create new_admin_domain_path
%hr

%p
  Got
  = pluralize collection.size, 'domain'

%table.table.table-striped
  %thead
    %th Name
    %th Mailboxes
    %th Aliases
    %th
  %tbody
    = render collection
