.page-header
  %h1 Changes

%table.table.table-striped.changes{:'data-uri' => updates_admin_versions_path}
  %thead
    %th Action
    %th Type
    %th Object
    %th Mailbox
    %th Time
    %th
  %tbody
    = render collection

= paginate collection
