%hr
%footer.container
  %p.text-right
    Released under the terms of the
    = link_to 'AGPLv3', 'http://www.gnu.org/licenses/agpl-3.0.html'
  %p.text-right
    = render partial: 'shared/git_version'
