.form-actions
  %button{type: 'submit', class: 'btn btn-primary'}
    %i{class: 'icon-ok icon-white'}
    Update #{resource.class.name.capitalize}
  %button{type: 'reset', class: 'btn btn-danger'}
    %i{class: 'icon-remove icon-white'}
    Reset Form
