.form-actions
  %button{type: 'submit', class: 'btn btn-primary'}
    = icon :ok
    Update #{resource.class.name.capitalize}
  %button{type: 'reset', class: 'btn btn-danger'}
    = icon :remove
    Reset Form
