- if resource.admin? or resource.permissions.any?
  .well.permission-list
    %fieldset
      %legend Roles and Permissions
    %ul
      - if resource.admin?
        %li Admin
      - resource.permissions.each do |permission|
        %li
          = permission.role.capitalize
          of
          = link_to permission.item.name, edit_admin_domain_path(permission.item.id)
