%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{href: root_path} Møil

  %section.top-bar-section
    %ul.left
      %li.devider
      %li.active
        %a{href: root_path} Generate password hash
      %li
        %a{href: new_mailbox_session_path} Sign in
