.navbar-header
  = link_to 'Møil', root_path, class: 'navbar-brand'
  %button.navbar-toggle{type: 'button', :'data-toggle' => 'collapse', :'data-target' => '.navbar-menu-collapse'}
    %span.sr-only  Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
