.col-md-6
  .jumbotron
    .container
      %h1 Welcome to Møil!
      %p
        Møil is an open source administration user interface for database backed
        mail servers (postfix/dovecot). It brings the handy possibility of
        managing the database with migrations and a lot of beautiful CRUD.
      %p
        The code is available from
        = link_to 'GitHub', 'https://github.com/nning/moeil.git'
        under a
        = link_to 'AGPLv3', 'http://www.gnu.org/licenses/agpl-3.0.html'
        license.
