%tr
  %td= link_to mailbox.email, edit_admin_domain_mailbox_path(mailbox.domain, mailbox)
  %td= :yes if mailbox.password_scheme == :sha512_crypt
  %td= :yes if mailbox.admin
  %td= link_to 'Delete', admin_domain_mailbox_path(mailbox.domain, mailbox), method: :delete, confirm: 'Are you sure?', class: 'btn btn-mini btn-danger'
