%h1 Mailboxes
.btn-toolbar
  .btn-group
    = link_to_back
    = link_to_create new_admin_domain_mailbox_path(parent)
%hr

%p
  Got
  = pluralize(collection.count, 'mailbox')

%table.table.table-striped
  %thead
    %th E-Mail Address
    %th sha512-crypt?
    %th Admin?
    %th Active?
    %th
  %tbody
    = render collection
