%h1 Welcome to Møil!

%p
  This will be a administration user interface for a database backed mail
  server when it is grown-up. Currently the only useful feature is
  #{link_to 'the generation of password hashes', password_path}. The basic
  #{link_to 'login', new_mailbox_session_path} also works already.
