%h1 Generate password hash
%hr

%p
  You can generate a
  %code SHA512-CRYPT
  password hash here for your account on mx.orgizm.net. Send it to
  #{mail_to 'henning@orgizm.net'} or #{mail_to 'ruben@orgizm.net'} via
  %abbr{title: 'Extensible Messaging and Presence Protocol'} XMPP
  or E-Mail. Cryptographically signed communication would be preferred.
