%h1 Generate password hash
%p
  You can generate a
  %code SHA512-CRYPT
  password hash here for our mail server.
  If you prefer to generate it on your machine, look at
  = link_to('this ruby script', root_path) + '.'
  After generating a hash, send it to
  = mail_to 'henning@orgizm.net'
  or
  = mail_to 'ruben@orgizm.net'
  via
  %abbr{title: 'Extensible Messaging and Presence Protocol'} XMPP
  or E-Mail.
  Cryptographically signed communication via
  %abbr{title: 'Extensible Messaging and Presence Protocol'} XMPP
  would be preferred.
