%h1= resource.email

%dl.dl-horizontal
  - for attr in resource_class.attribute_names
    %dt= attr
    %dd
      - val = resource.send(attr).to_s
      - if val.blank?
        \-
      - if val =~ /^_id$/
        = attr.sub(/_id$/,'')
      - else
        = val
